mat-expansion-panel {
    margin: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.mat-headline{
    padding: 5rem;
    position: relative;
    left: 50%;
    display: inline-block;       
    transform: translate(-50%);
}

.mat-title{
    margin-top: 4rem;
    margin-left: 6rem;
}

mat-icon {
    padding-right: 1rem;
    color: #fff;
}
.panel-body {
    justify-content: space-between;
    display: inline-block;
}
.Approved {
    /* box-shadow: 0 4px 8px 0 rgba(61, 224, 91, 0.9), 0 6px 20px 0 rgba(61, 224, 91, 0.2); */
    /* border: 1 solid #3de05b;    */
    background-color: #74eb6c
}

.Rejected {
    /* box-shadow: 0 4px 8px 0 rgba(224, 64, 61, 0.9), 0 6px 20px 0 rgba(224, 64, 61, 0.2); */
    /* border: 1 solid #e0403d; */
    background-color:#e86868;

}

#dashboardBtn{
    position: relative;
    left: 50%;
    display: inline-block;       
    transform: translate(-50%);
}